---
/**
 * @license
 * Copyright 2025-present Ariakit FZ-LLC. All Rights Reserved.
 *
 * This software is proprietary. See the license.md file in the root of this
 * package for licensing terms.
 *
 * SPDX-License-Identifier: UNLICENSED
 */
import {
  BoxPatternsLeftOnly,
  BoxPatternsRightOnly,
} from "#app/components/box-patterns.react.tsx";
import ContainerRightMenu from "#app/components/container-right-menu.astro";
import { components } from "#app/components/content-components.astro";
import Meta from "#app/components/meta.astro";
import TableOfContents from "#app/components/table-of-contents.astro";
import { Icon } from "#app/icons/icon.react.tsx";
import { descriptionToText } from "#app/lib/content.ts";
import { mapTags } from "#app/lib/tags.ts";
import Layout from "#app/pages/_layout.astro";
import type { GetStaticPaths } from "astro";
import { getCollection, render } from "astro:content";

export const getStaticPaths = (async () => {
  const entries = await getCollection("examples");
  const descriptions = await getCollection("descriptions");
  const galleries = await getCollection("galleries");
  return entries.flatMap((entry) => {
    const gallery = galleries.find((gallery) => gallery.id === entry.id);
    const description = descriptions.find((header) => header.id === entry.id);
    return entry.data.frameworks.map((framework) => ({
      params: { example: `${framework}/examples/${entry.id}` },
      props: { framework, entry, gallery, description } as const,
    }));
  });
}) satisfies GetStaticPaths;

const { framework, entry, gallery, description } = Astro.props;
const { Content, headings } = await render(entry);
const { Content: Gallery } = gallery ? await render(gallery) : {};
const { Content: Description } = description ? await render(description) : {};

Astro.locals.framework = framework;

const tags = mapTags(entry.data.tags, [framework]);
const title = entry.data.title;
const descriptionText = await descriptionToText(
  Description,
  framework,
  components
);
---

<Layout title={title}>
  <Meta
    slot="meta"
    id={entry.id}
    type="examples"
    title={title}
    framework={framework}
    description={descriptionText}
  />
  <div class="overflow-x-clip">
    <div class="ak-container-size-default ak-container py-24">
      <h1
        class="text-4xl font-semibold mb-5 ak-container-size-default/0 ak-container relative"
      >
        {entry.data.title}
        <BoxPatternsLeftOnly />
      </h1>
      <div
        class="grid @3xl:grid-cols-[1fr_var(--container-sidebar)] gap-3 items-start"
      >
        <div
          class="text-lg ak-container-size-content/0 ak-container flex flex-col gap-5"
        >
          {
            Description && (
              <div class="ak-text/70 ak-prose-elements text-lg/[1.8] [&_p]:ak-text/70 [&_a]:not-hover:ak-text/70 [&_code]:ring-0">
                <Description {framework} {components} />
              </div>
            )
          }
          {
            !!tags.length && (
              <ul class="flex gap-2">
                {tags.map((tag) => (
                  <li>
                    <a
                      href={`/${framework}/examples/${tag.id}/`}
                      class="ak-badge ak-button ak-layer-pop"
                    >
                      {tag.label}
                    </a>
                  </li>
                ))}
              </ul>
            )
          }
        </div>
        <div class="ms-auto relative @3xl:max-w-70 @max-3xl:w-full">
          <BoxPatternsRightOnly />
          <div class="grid gap-2">
            <button
              class="ak-button ak-layer-current ak-border ak-command-depth-x-3 ak-edge/40 border-dashed grid grid-cols-[1fr_auto_1fr]"
            >
              <Icon name="copyAi" />
              Copy AI prompt
              <kbd class="ak-text/0 justify-self-end">
                <span class="font-sans">⌘</span>I
              </kbd>
            </button>
            <button
              class="ak-button ak-layer-pop ak-command-depth-x-3 font-mono grid grid-cols-[1fr_auto_1fr]"
            >
              <Icon name="terminal" />
              <span class="overflow-hidden text-sm"
                >npx shadcn@latest add https://ariakit.com/r/disclosure.json</span
              >
              <kbd
                class="ak-text/0 justify-self-end relative after:absolute after:h-full after:end-full after:w-10 after:bg-linear-to-l after:from-(--ak-layer) after:from-20%"
              >
                <span class="font-sans">⌘</span>S
              </kbd>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      data-gallery="true"
      class="ak-container-size-wider ak-container flex flex-col gap-12 mb-24"
    >
      {Gallery && <Gallery {framework} {components} />}
    </div>
    <div data-content="true" class="ak-container-size-wider ak-container">
      <ContainerRightMenu>
        <div
          class="ak-prose ak-prose-text-base/relaxed @5xl:ak-prose-text-lg/loose"
        >
          <Content {framework} {components} />
        </div>
        <TableOfContents
          slot="sidebar"
          title={entry.data.title}
          {headings}
          class="sticky [--top:calc(var(--header-height)+--spacing(8))] top-(--top) max-h-[calc(100dvh-var(--top))] overflow-y-auto"
        />
      </ContainerRightMenu>
    </div>
  </div>
</Layout>
