---
/**
 * @license
 * Copyright 2025-present Ariakit FZ-LLC. All Rights Reserved.
 *
 * This software is proprietary. See the license.md file in the root of this
 * package for licensing terms.
 *
 * SPDX-License-Identifier: UNLICENSED
 */
import { type ReferenceItem as ReferenceSectionItem } from "#app/lib/reference.ts";
import { getReferencePath } from "#app/lib/url.ts";
import type { ComponentProps } from "astro/types";
import { getEntry, type CollectionEntry } from "astro:content";
import { encode } from "html-entities";
import pluralize from "pluralize";
import ContentAdmonition from "./content-admonition.astro";
import ContentCodeBlock from "./content-code-block.astro";
import { ContentDisclosure } from "./content-disclosure.react.tsx";
import ContentHeading from "./content-heading.astro";
import ContentLink from "./content-link.astro";
import Markdown from "./markdown.astro";
import PageCardExample from "./page-card-example.astro";
import ReferenceItemType from "./reference-item-type.astro";

interface Props
  extends ReferenceSectionItem,
    Pick<ComponentProps<typeof PageCardExample>, "size"> {
  reference: CollectionEntry<"references">;
  standalone?: boolean;
}

const {
  id,
  name,
  reference,
  deprecated,
  type,
  defaultValue,
  examples,
  liveExamples,
  description,
  size = "sm",
  standalone = false,
} = Astro.props;

const path = getReferencePath({ reference, item: id });

function getCodeBlockCode(example: ReferenceSectionItem["examples"][number]) {
  return `<code class="language-${example.language}"${example.meta ? ` metastring="${encode(example.meta)}"` : ""}>${example.code}</code>`;
}

const ex = await getEntry("examples", "checkbox-card");
---

<ContentHeading
  as="div"
  id={!standalone ? id : undefined}
  class="flex gap-2 items-center mb-0 mt-0 ak-heading flex-wrap"
>
  <h5
    class:list={[
      "text-xl! m-0",
      deprecated && "line-through decoration-1",
      standalone && "me-auto",
    ]}
  >
    {
      path ? (
        <ContentLink href={path} reference={false}>
          <code>{name}</code>
        </ContentLink>
      ) : (
        <code>{name}</code>
      )
    }
  </h5>
  <div class="flex gap-[inherit] flex-shrink min-w-0 max-w-[100cqi]">
    <ReferenceItemType
      class="flex-shrink"
      code={type}
      grammarContextCode="const type: "
    />
    {
      defaultValue && (
        <ReferenceItemType
          class="flex-none"
          code={`= ${defaultValue}`}
          grammarContextCode="const defaultValue"
        />
      )
    }
  </div>
</ContentHeading>
{
  deprecated && (
    <ContentAdmonition type="warning" title="Deprecated">
      {typeof deprecated === "string" ? <Markdown content={deprecated} /> : ""}
    </ContentAdmonition>
  )
}
{
  !!liveExamples.length && !standalone && (
    <ContentDisclosure
      client:load
      label={`${liveExamples.length} ${pluralize("example", liveExamples.length)}`}
      className="-mb-(--ak-frame-padding) -mt-[calc(var(--ak-frame-padding)/2)] text-base"
    >
      <div
        class:list={[
          "grid grid-cols-[repeat(auto-fill,minmax(14rem,1fr))] gap-4 ak-container @max-3xl:gap-3",
        ]}
      >
        {liveExamples.map(() => (
          <PageCardExample entry={ex!} size={size} />
        ))}
      </div>
    </ContentDisclosure>
  )
}
<Markdown content={description} />
{
  examples.map((example) => (
    <Fragment>
      {example.description && <Markdown content={example.description} />}
      <ContentCodeBlock set:html={getCodeBlockCode(example)} />
    </Fragment>
  ))
}
{
  !!liveExamples.length && standalone && (
    <Fragment>
      <div
        class:list={[
          "grid grid-cols-[repeat(auto-fit,minmax(10rem,1fr))] gap-4 @max-3xl:gap-3",
        ]}
      >
        {liveExamples.map(() => (
          <PageCardExample entry={ex!} size={size} />
        ))}
      </div>
    </Fragment>
  )
}
