---
/**
 * @license
 * Copyright 2025-present Ariakit FZ-LLC. All Rights Reserved.
 *
 * This software is proprietary. See the license.md file in the root of this
 * package for licensing terms.
 *
 * SPDX-License-Identifier: UNLICENSED
 */
import TimelineAnimate from "#app/components/timeline-animate.astro";
import { trimRight } from "#app/lib/string.ts";
import type { ComponentProps, HTMLAttributes } from "astro/types";
import { ReferenceLabel } from "./reference-label.react.tsx";
import ScrollCurrentIntoView from "./scroll-current-into-view.astro";

interface LinkItem {
  href: string;
  label: string;
  currentPage?: boolean;
}

interface ReferenceItem
  extends LinkItem,
    ComponentProps<typeof ReferenceLabel> {}

interface HeadingItem {
  label: string;
}

export type SidebarMenuItem = LinkItem | ReferenceItem | HeadingItem;

interface Props extends HTMLAttributes<"div"> {
  id: string;
  items: SidebarMenuItem[];
  revealAnchorName?: string;
}

const { items, revealAnchorName, id, ...props } = Astro.props;

function isLinkItem(item: SidebarMenuItem) {
  return "href" in item;
}

function isReferenceItem(item: SidebarMenuItem): item is ReferenceItem {
  return "kind" in item && item.kind !== undefined;
}

function getReferenceProps(item: SidebarMenuItem) {
  if (!isReferenceItem(item)) return;
  const { href: _, ...referenceProps } = item;
  return referenceProps;
}

function isCurrentPage(item: SidebarMenuItem, pathname = Astro.url.pathname) {
  if (!isLinkItem(item)) return false;
  if (item.currentPage) return true;
  // If any other link is forced current, this link is not current.
  if (items.some((item) => isLinkItem(item) && item.currentPage)) return false;
  const url = new URL(item.href, Astro.url.origin);
  return trimRight(pathname, "/") === trimRight(url.pathname, "/");
}
---

<div
  id={id}
  data-sidebar-menu={id}
  class:list={[
    "sidebar-menu justify-self-end-safe @max-overlap:w-full w-[calc-size(auto,size+--spacing(4))] z-3 @max-5xl:hidden ak-layer-current border-e max-h-[inherit] h-full",
    props.class,
  ]}
  {...props}
>
  <div
    data-sidebar-menu-content={id}
    class="sticky top-(--header-height) [--p:--spacing(2)] p-(--p) overflow-y-auto overflow-x-clip max-h-[min(100%,calc(100dvh-var(--header-height)))]"
  >
    <slot name="before" />
    <TimelineAnimate
      as="ul"
      enabled={!!revealAnchorName}
      anchor={revealAnchorName}
      rangeStart={`exit calc(var(--header-height) * -1)`}
      rangeEnd={`exit calc(100% - var(--header-height))`}
      keyframes={`from { opacity: 0; display: none; }`}
      class:list={[
        "flex flex-col gap-1",
        !!revealAnchorName && "@max-overlap:flex! @max-overlap:opacity-100!",
      ]}
    >
      {
        items.map((item) => {
          if (!isLinkItem(item)) {
            return (
              <li class="ak-text/0 font-medium p-field text-sm mt-2">
                {item.label}
              </li>
            );
          }
          const { href, label } = item;
          const referenceProps = getReferenceProps(item);

          return (
            <li class="relative">
              <a
                href={href}
                aria-current={isCurrentPage(item) ? "page" : undefined}
                class="peer ak-button justify-start font-normal whitespace-normal aria-[current]:ak-layer-pop overflow-x-clip relative scroll-m-1"
              >
                {referenceProps?.kind ? (
                  <ReferenceLabel {...referenceProps} set:text={label} />
                ) : (
                  label
                )}
                <span class="absolute inset-y-0 end-0 w-(--ak-frame-padding) bg-linear-to-l from-(--ak-layer) from-25% to-transparent z-10 rounded-r-[inherit]" />
              </a>
              <div
                class="absolute inset-y-0 -right-(--p) w-[calc(2px+0.03rem*var(--contrast))] bg-current opacity-0 peer-aria-[current=page]:opacity-100"
                data-indicator
              />
            </li>
          );
        })
      }
    </TimelineAnimate>
  </div>
</div>

<ScrollCurrentIntoView selector={`[data-sidebar-menu-content="${id}"]`} />
